body{
    background-color: #d9f2ed;
    display: flex;
    justify-content:center;
    text-align: center;
    font-family: "Nunito", sans-serif;
    /* font-family: "PT Sans", sans-serif; */

}

#big-box h1{
    color:rgb(0, 54, 36);
    font-size: 50px;
}
#big-box p{
    color: rgb(39, 65, 63);
}

#Guidelines{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.guide{
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 10px;
    font-weight:500;
    flex: 1;
    max-width: 120px;
    margin: 10px;
    background-color: #d9f2ed;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.guide .bd{
    height: 17px;
}

.guide .hd{
    height: 10px;
}

.guide .ps{
    height: 17px;
}
.guide .fa{
    height: 13px;
}

.guide .ds{
    height: 13px;
}
