body{
    box-sizing: border-box;
    background-color: #d9f2ed;
    display: flex;
    justify-content:center;
    text-align: center;
    font-family: "Nunito", sans-serif;
    /* font-family: "PT Sans", sans-serif; */

}

#big-box h1{
    color:rgb(0, 54, 36);
    font-size: 50px;
    margin-bottom: 0%;
}
#big-box p{
    color: #2c7a7b;
}

#Guidelines{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.guide{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    border: 1px solid #d9f2ed;
    border-radius: 10px;
    padding: 5px 10px;
    font-weight:500;
    flex: 1;
    max-width: 120px;
    margin: 10px;
    background-color: #d9f2ed;
    /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); */
}
.guide .bd{
    height: 17px;
}

.guide .hd{
    height: 10px;
}

.guide .ps{
    height: 17px;
}
.guide .fa{
    height: 13px;
}

.guide .ds{
    height: 13px;
}

#switchbtn{
    background-color:#bdf4e9;
    margin: 20px;
    border: 1px solid rgb(9, 65, 41);
    border-radius: 20px;
    padding: 5px 10px;
    font-weight:500;
    align-self: center;
    width: fit-content;
    
}

.main{
  margin: 0 auto; 
  height: 200px;
  width: 300px;
  background-color: #fff;
  border: 1px solid green;
  border-radius: 10px;
}

@media(max-width: 550px){
    #big-box h1{
        font-size: 35px;
    }

    .guide{
        font-size: 15px;
    }

}
